@import 'tailwindcss';

:root {
    --storm-dust: #646464;
    --gray-olive: #808782;
    --celadon: #a6d3a0;
    --tea-green: #d1ffd7;
    --light-green: #b3ffb3;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top left, var(--storm-dust), var(--tea-green));
}

* {
    outline: 1px solid red;
}

/* ul {
    list-style-type: none;
    color: white;
    display: flex;
	padding: 2px 20px;
    background-color: #333333;
}

ul li a {
    display: block;
    color: white;
    padding: 2px 20px;
    text-decoration: none;
} */
