@import 'tailwindcss';

:root {
    --dim-gray: #656565;
    --gray-olive: #808782;
    --celadon: #a6d3a0;
    --tea-green: #d1ffd7;
    --light-green: #b3ffb3;
}

body {
    margin: 0;
    min-height: 100vh; 
    background-image: linear-gradient(to left, var(--dim-gray), var(--tea-green));
}

/* * {
    outline: 1px solid red;
} */

/* ul {
    list-style-type: none;
    color: white;
    display: flex;
	padding: 2px 20px;
    /*background-color: #333333;
}

ul li a {
    display: block;
    color: white;
    padding: 2px 20px;
    text-decoration: none;
} */
